body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.mainContainer {
  display: flex;
  justify-content: flex-start;
  height: 100vh;
  gap: 10px;
}
/* header css */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.addNotes,
.closeNotes {
  font-size: 30px;
  background-color: unset;
  border: none;
  cursor: pointer;
}

.container {
  background-color: lightgray;
  height: 100vh;
  padding: 0 10px;
  border-radius: 7px;
  overflow-y: auto;
  width: 30vw;
}
.notes {
  height: 50px;
  background-color: blanchedalmond;
  border-radius: 4px;
  margin-top: 10px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.notesDis {
  flex-grow: 2;
  align-self: center;
  padding: 20px 10px;
}
.deleteButton {
  color: darkgray;
  font-size: 26px;
  margin-right: 10px;
}
/* notes textarea */
.textareaContainer {
  width: 70vw;
  height: 100vh;
  background-color: lightgray;
  border-radius: 10px;
  overflow: hidden;
  padding: 10px 0;
}
.notesTextarea {
  border: none;
  outline: none;
  background-color: blanchedalmond;
  height: 90%;
  width: 100%;
  padding: 10px;
  font-size: 15px;
}
.notesTextarea::placeholder {
  color: darkgray;
  font-weight: 400;
  font-size: 15px;
}

.saveButton,
.closeNotes {
  background-color: #6c757d;
  border: none;
  outline: none;
  border-radius: 5px;
  padding: 10px 28px;
  font-size: 20px;
  color: white;
}
.inputNotesFooter {
  background-color: lightgray;
  display: flex;
  justify-content: space-between;
  padding: 10px 10px 0;
}
